div(ng-controller="ConnectCtrl")
  p.lead
    | Hey, nice to welcome you!
    br
    | Your ID: {{peersId}}
  form(ng-submit="startGame()").input-group
    input.form-control(type="text", placeholder="Play with your friend by entering her or his ID here — have fun!", ng-model="otherPeersId")
    span.input-group-btn
      button.btn.btn-default(type="submit") Start the Game
