extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
block scripts
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/peer.min.js')
  script(src='/javascripts/ttt-service.js')
  script(src='/javascripts/index-service.js')
  script(src='/javascripts/error-service.js')
  script(src='/javascripts/index-ctrl.js')
  script(src='/javascripts/connect-ctrl.js')
block content
  div(ng-controller="IndexCtrl")
    ng-include(src="indexService.template")

