extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
block scripts
  script(src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='http://cdn.peerjs.com/0.3.8/peer.min.js')
  script(src='/javascripts/ttt-service.js')
  script(src='/javascripts/index-ctrl.js')
  script(src='/javascripts/connect-ctrl.js')
block content
  div(ng-controller="IndexCtrl")
    ng-include(src="templateForState()")
