doctype html
html
    head
        title="Tic Tac Toe"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='/javascripts/bootstrap.min.js')
        script(src='http://cdn.peerjs.com/0.3.8/peer.min.js')
        script(src='/javascripts/ttt.js')
    body
        block content
