div(ng-controller="PlayingCtrl")
  p.lead
    | You have connected with your friend — have fun playing!
  table#board
    tr(ng-repeat="row in tttService.board track by $index")
      td(ng-repeat="field in row track by $index", ng-click="tttService.placeMySignHere($parent.$index, $index)")
        | {{field}}